In this activity, we will look at another example. Your task is to understand the problem and write down all the steps to set up ANOVA. After the next lesson, we will ask you to solve this problem using Python. Here are the steps that you would need to work on: - Null hypothesis - Alternate hypothesis - Level of significance - Test statistic - P-value - F table

#### Context

Suppose you are working as an analyst in a microprocessor chip manufacturing plant. You have been given the task of analyzing a plasma etching process with respect to changing Power (in Watts) of the plasma beam. Data was collected and provided to you to conduct statistical analysis and check if changing the power of the plasma beam has any effect on the etching rate by the machine. You will conduct ANOVA and check if there is any difference in the mean etching rate for different levels of power. Y

In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [2]:
data = pd.read_excel('anova_lab_data.xlsx')
data

   Power   Etching Rate
0   160 W          5.43
1   180 W          6.24
2   200 W          8.79
3   160 W          5.71
4   180 W          6.71
5   200 W          9.20
6   160 W          6.22
7   180 W          5.98
8   200 W          7.90
9   160 W          6.01
10  180 W          5.66
11  200 W          8.15
12  160 W          5.59
13  180 W          6.60
14  200 W          7.55

In [3]:
data.columns = data.columns.str.replace(' ', '_').str.lower()
data

   power_  etching_rate
0   160 W          5.43
1   180 W          6.24
2   200 W          8.79
3   160 W          5.71
4   180 W          6.71
5   200 W          9.20
6   160 W          6.22
7   180 W          5.98
8   200 W          7.90
9   160 W          6.01
10  180 W          5.66
11  200 W          8.15
12  160 W          5.59
13  180 W          6.60
14  200 W          7.55

In [4]:
data = data.rename(columns={'power_': 'power'})

In [5]:
data['power'] = data['power'].str.replace(' W', '')
data

   power  etching_rate
0    160          5.43
1    180          6.24
2    200          8.79
3    160          5.71
4    180          6.71
5    200          9.20
6    160          6.22
7    180          5.98
8    200          7.90
9    160          6.01
10   180          5.66
11   200          8.15
12   160          5.59
13   180          6.60
14   200          7.55

In [11]:
data.groupby('power').agg(np.mean)

       etching_rate
power
160           5.792
180           6.238
200           8.318

#### State the null hypothesis
#### State the alternate hypothesis
#### What is the significance level
#### What are the degrees of freedom of model, error terms, and to

<span style="color: blue;">**H0**:changing the power of the plasma beam **has No effect** on the etching rate by the machine.</span>.<hr>
<span style="color: blue;">**H1**:changing the power of the plasma beam **has an effect** on the etching rate by the machine.</span><hr>
<span style="color: blue;">Significance Level (alpha)= 0.05.</span> <hr>

<span style="color: blue;">**DOF**:3-1= 2</span>
<span style="color: blue;">**DOF Residual**: 15-3=12</span>

In this section, use Python to conduct ANOVA.

In [12]:
import statsmodels.api as sm
from statsmodels.formula.api import ols


model = ols('etching_rate ~ C(power)',data=data).fit()
sm.stats.anova_lm(model)

            df     sum_sq   mean_sq          F    PR(>F)
C(power)   2.0  18.176653  9.088327  36.878955  0.000008
Residual  12.0   2.957240  0.246437        NaN       NaN

The p-value is smaller than our alpha 0.05 so the H0 can be rejected. Changing the power does have an effect on the etching rate by the machine.

In [13]:
data.pivot(columns='power').describe()

      etching_rate
power          160       180       200
count     5.000000  5.000000  5.000000
mean      5.792000  6.238000  8.318000
std       0.319875  0.434304  0.669604
min       5.430000  5.660000  7.550000
25%       5.590000  5.980000  7.900000
50%       5.710000  6.240000  8.150000
75%       6.010000  6.600000  8.790000
max       6.220000  6.710000  9.200000

#### Let's see is power 200w is the reason that chaning the power has an effect on the etching rate

In [14]:
from scipy.stats import ttest_ind

power_a = data[data['power'] == 200]['etching_rate']

for power in data['power'].unique():
    power_b = data[data['power'] == power]['etching_rate']
    print(power, ttest_ind(power_a, power_b))

160 Ttest_indResult(statistic=nan, pvalue=nan)
180 Ttest_indResult(statistic=nan, pvalue=nan)
200 Ttest_indResult(statistic=nan, pvalue=nan)

In [10]:
#I don't understand why do I get Nan for result